<mat-toolbar color="primary" fxLayoutGap="8px">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <!--
  <mat-icon svgIcon="lemon"></mat-icon>
  <a mat-button routerLink="/home">
    <h1>LemonMart</h1>
  </a>
  <span class="flex-spacer"></span>
  -->
  <a mat-icon-button routerLink="/home">
    <mat-icon svgIcon="lemon"></mat-icon>
    <span class="mat-h2">LemonMart</span>
  </a>
  <span class="flex-spacer"></span>

  <!--
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>lock_open</mat-icon>
  </button>
  -->
  <button mat-mini-fab routerLink="/user/profile" matToolTip="Profile" aria-label="User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-mini-fab routerLink="/user/logout" matToolTip="Logout" aria-label="Logout">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>